.brand-avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}
.ratings-container{
    display: flex;
    flex-direction: row;
    height: 200px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
p{
    font-weight: 500;
}