.aggrid-font-uppercase{
    text-transform: uppercase;
}
.ag-theme-material .ag-header{
    border-top : 1px solid #e2e2e2;
}
.align-right{
    text-align: right;
}
.down{
    color: red;
    font-size: 20px;
    margin-left: 10px;
}
.up{
    color: turquoise;
    font-size: 20px;
    margin-left: 10px;
}