<mat-card>
  <mat-card-header>
      <mat-card-title>Brand Review</mat-card-title>
      <mat-card-subtitle>By customer information</mat-card-subtitle>
      <mat-form-field *ngIf="!brand && (products$ | async) as products;" appearance="outline">
        <mat-select [formControl]="productSearchInput">
          <mat-option *ngFor="let product of products" [value]="product">
            {{product | uppercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-card-header>
  <mat-card-content *ngIf="(chartData$ | async) as chartData">
    <div style="display: block;">
        <canvas baseChart 
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="chartType"
          [options]="options"
          [colors]="colors">
        </canvas>
      </div>
  </mat-card-content>
  </mat-card>