<div class="dashboard-container">
    <div class="row">
        <div class="col-xs-8">
            <app-brand-trending-inmarket></app-brand-trending-inmarket>
        </div>
        <div class="col-xs-4">
            <app-recent-brand-updated></app-recent-brand-updated>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <app-brand-price-updated></app-brand-price-updated>
        </div>
        <div class="col-xs-4">
            <app-brand-review></app-brand-review>
        </div>
        <div class="col-xs-4">
            <app-brand-ratings></app-brand-ratings>
        </div>
    </div>
    <app-brand-ratings-details></app-brand-ratings-details>
</div>