<mat-card>
    <mat-card-header>
        <mat-card-title>Product Sales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        

        <div *ngIf="(charData$ | async) as charData; else loading" style="display: block;">
            <canvas baseChart [datasets]="charData.data" [options]="barChartOptions" 
                [labels]="charData.label"
                [height]=200
                [width]=600
                [colors]="colors" [legend]=true [chartType]="barChartType">
            </canvas>
        </div>
        <ng-template #loading>
            <mat-spinner [diameter]=40></mat-spinner>
          </ng-template>
    </mat-card-content>
</mat-card>